# .env.example (template for actual .env file)
POSTGRES_DB=tsb_service_db
POSTGRES_USER=tsb_user
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_HOST=db
POSTGRES_PORT=5888
# analytics view PW
ADMIN_PASSWORD=your_secure_pw
# API integration with Respeak
CHAT_API_URL=https://api.expert.respeak.io/v1/expert/ask_question
CHAT_EXPERT_ID=EXPERT_UUID
RESPEAK_API_KEY=RESPEAK_API_KEY